name: Docker CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Set up JDK 1.11
        uses: actions/setup-java@v1
        with:
          java-version: 1.11
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Compile Java with Gradle
        env: # Or as an environment variable
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
        run: ./gradlew -Pprod bootJar jib -DDOCKER_PASSWORD=$DOCKER_PASSWORD
  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: deploy via ssh
        uses: garygrossgarten/github-action-ssh@release
        with:
          command: ./deploy
          host: ${{ secrets.HOST }}
          username: patrones
          privateKey: ${{ secrets.PRIVATE_KEY }}

